flexbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: flex-start; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.face {
    height: 150px;
    width: 150px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("images/headerimage.jpg");
    background-size: cover;
    background-position: center;

}


header {
    padding: 1%;
    text-align: right;
    background: rgb(91, 75, 186);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header div {
    padding-top: 10px;
    margin-right: 20px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
    font-size: 100%;
    font-family: inherit;
}

ol,
ul {
    list-style: none;
    float: right;
}

.card img {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}

.projects {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    width: 75%;
    float: right;
}

.aboutMe {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    width: 75%;
    float: right;
    margin-left: 25%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;

}

.contactme {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    width: 75%;
    float: right;
}

h2 {
    margin: 3% 0;
    font-size: 250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }